# Python
__pycache__/
*.pyc
.venv/

# IDE
.idea/

# YOLO training data
runs/
train/
valid/
test/

# outputs
backend/output/
backend/sounds/

# node
node_modules/

# duplicate frontend
traffic-dashboard/

# datasets
*.csv
*.json